* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

#head-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 50px;
    text-transform: capitalize;
    background-color: #BDB76B;
    width: 100%;
}

#header-title {
    font-size: 60px;
    font-family: 'Quicksand', sans-serif;
}

#header-title span {
    font-size: 70px;
    font-family: 'Yellowtail', cursive;
    padding-right: 15px;
    animation: round 1s linear infinite;
}

#header-paragraph {
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
}

#header-paragraph span {
    border-bottom: thin solid #000;
}

#background-img {
    background: url('florence.jpeg') no-repeat center;
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
    height: 300px;
    width: 100%;
}

.search-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
    background: #BDB76B;
}

#btn {
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 13px;
  font-family: 'Quicksand', sans-serif;
  color: #000;
  font-size: 30px;
  background: #FFD700;
  padding: 15px 100px;
  text-transform: capitalize;
  margin-left: 10px;
}

#btn:hover {
    cursor: pointer;
}

#btn:active {
    transform: translate(5px, 5px);
}


.search-input {
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 13px;
  font-family: 'Quicksand', sans-serif;
  color: #000;
  font-size: 30px;
  background: #fff;
  padding: 15px 50px;
  text-transform: capitalize;
  margin-right: 10px;
}

.flickr-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flickr-photos img {
    border-radius: 30px;
    padding: 20px;
}

.flickr-photos img:hover {
    box-shadow: 0 0 20px #BDB76B;
}

#overlay {
    height: 100%;
    width:100%;
    background: rgba(0,0,0, .8);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content:center;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #fff;
    border-top-color: #BDB76B;
    border-radius: 100%;
    margin-top: 500px;
    animation: round 1s linear infinite;
}
    
    @keyframes round {
        from{transform: rotate(0deg)}
        to {transform: rotate(360deg)}
    }
    
    

/*Media query*/


@media screen and (max-width: 699px) {
   
    .search-form {
    display: block;
}

.search-input {
  font-size: 20px;
  padding: 15px 20px;
  margin-bottom: 20px;
}

#btn {
  font-size: 20px;
  padding: 15px 20px;
}
}